<div class="row mx-3 mt-3">
  <!--  <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column justify-content-start align-items-stretch p-3 col-md-2">-->
  <!--    <a class="navbar-brand" href="#">Navbar</a>-->
  <!--    <nav class="nav nav-pills flex-column">-->
  <!--      <a class="nav-link" href="#preamble">Preamble</a>-->
  <!--      <a class="nav-link" href="#methodology">Methodology</a>-->
  <!--      <nav class="nav nav-pills flex-column">-->
  <!--        <a class="nav-link ms-3 my-1" href="#prerequisites">Prerequisites</a>-->
  <!--        <a class="nav-link ms-3 my-1" href="#description">Description</a>-->
  <!--      </nav>-->
  <!--      <a class="nav-link" href="#how-it-works">How it works</a>-->
  <!--    </nav>-->
  <!--  </nav>-->

  <!--  <div class="col-md-10" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">-->
  <h1>Help</h1>
  <h2 id="preamble">Preamble</h2>
  <div class="alert alert-warning"><b>This app may not be for everyone.</b> I wrote this app to manage my bills the
    way <b>I</b> like to.
  </div>
  <p>It was intended to replace the spreadsheet I have been using up until now, and be more accurate and dynamic in
    the process. This is a zero sum game, it calculates the absolute bare minimum you need to deposit each payday in
    order to cover your bills.</p>
  <h2 id="methodology">Methodology</h2>
  <h3 id="prerequisites">Prerequisites</h3>
  <ul>
    <li>A separate Bills account</li>
    <li>This app will work best with a stable income. That's not to say it won't work with a fluctuating income, I
      have tried to accommodate this; but the original idea revolves around a steady paycheck.
    </li>
  </ul>
  <h3 id="description">Description</h3>
  <p>Every paycheck you should be depositing enough money into your bills account to cover upcoming expenses.</p>
  <h2 id="how-it-works">How it works</h2>
  <p>For any given day, the algorithm will find the most recent payday (as that's when you should have last deposited
    into your bills account). It then looks ahead to find the next occurrence of each bill (eg. the next rent payment).
    Then for each bill occurrence </p>
  <!--  </div>-->
</div>
