<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger mx-3 mt-3 ">
      <% if resource.errors.full_messages.length == 1 %>
        <%= resource.errors.full_messages.first %>
      <% else %>
        <ul class="mb-0">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
