<div class="mx-3 mt-3">
  <h1>There should be <span class="badge bg-secondary">$<%= "%.2f" % @target_account_balance %></span> in your bills account</h1>
  <h2>You will deposit <span class="badge bg-secondary">$<%= "%.2f" % @next_deposit %></span> at your next payday on Xxxday the Xth</h2>
  <h3>You should have deposited <span class="badge bg-secondary">$<%= "%.2f" % @next_deposit %></span> at your last payday on Xxxday the Xth</h3>
</div>